/* Provide sufficient contrast against white background */

body {
    background-color: #111111;
    font-family: 'Fira Code';
    font-weight: lighter;
    color: #FFFFFF;
    font-size: 32px;
}

.AltColor {
    color: #9900FF;
}

.Layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
}

.Nav {
    width: 100%;
    background-color: #111111;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    position: fixed;
    text-align: center;
    padding: 15px 10px 0px 10px;
}

.colorLine {
    background-color: #9900FF;
    grid-column: 2 / span 3;
    height: 1px;
    margin: 125px;
}